.footerview{
    margin-top: 32px;
   
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 5%) 2px 1px 7px;
    background-color: white;
}
.cancel-btn{
    padding: 8px 13px;
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius: 20px;
}
.delete{
    padding: 13px 15px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

}
.delete-content-icon{
    width: 15px;
    margin-right: 15px;
}
