.full-name-7{
    font-size: 40px;
    text-transform: capitalize;
}
.header-preview-7{
    background-color: #273655;
    color: white;
    padding: 50px 20px 40px 20px;
}

.profession-7{
    font-size: 20px;
    color: whitesmoke;

}
.preview-page-content-7{
    
    padding: 20px 30px 30px 30px;
}
.title-preview-7{
  
    
    text-align: left;
    color: #939aaa;
    text-transform: capitalize;
    font-size: 20px;
}