.header-preview-5{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    background-color: #1b1776;
    color:white;
}
.preview-page-content-5{
    background-color: #f7f4ee;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;


}
.title-preview-5{
    color: #ecc7c4;

}